
ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}

li {
    display: flex;
    justify-content: space-between;

    background-color: #6e0ff2;
    color: #eeeeee;
    border-radius: 1rem;
    padding: 1rem;
}

.deleteButton {
    font-size: 1.6rem;
    padding: 0px 8px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
